.passport__dashboard_icon {
  max-width: 114px;
}

.passport__dashboard_card {
  height: 100%;
}

.passport__dashboard_welcome_tab {
  max-width: 38%;
  margin-top: var(--pf-v5-global--spacer--md);
}
